/* You can add global styles to this file, and also import other style files */
  
  body {
    display: flex;
    flex-direction: column;
    background-color: rgb(212, 212, 245);
    height: 100%;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  textarea {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  div {
    display: flex;
  }


  


  