  .navigation {
    background-color: var(--backgroundBar);
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    justify-content: space-between;
  }
  
  .nav-btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 30px; 
    background-color: var(--navButton); /* Button background color */
    color: white; /* Button text color */
    border: none; /* No border */
    cursor: pointer; 
    border-radius: 15px; 
    box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-btn:hover {
    background-color: var(--navButtonHover); /* Darker background color on hover */
  }