<div class="wrapper">
  <div class="form">
    
    <div class="title-div">Email:</div>
    <div class="input-div">
      <input #newCollection placeholder="omamale@gmail.com" />
    </div>
    
    <div class="title-div">Password:</div>
    <div class="input-div">
      <input #newCollection placeholder="suchStr0ngpaSSword123" />
    </div>

    <div class="title-div">Confirm password:</div>
    <div class="input-div">
      <input #newCollection placeholder="suchStr0ngpaSSword123" />
    </div>

    <p></p>
    <div class="input-div">
        <button class="ctrl-btn">Login</button>
    </div>

    <div class="input-div">
        <button class="ctrl-btn">Register</button>
    </div>

  </div>
</div>
