.wrapper {
  width: 500px;
  height: 600px;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  height: 300px;
  width: 250px;
  margin: 0px;
  padding: 30px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  background-color: #f0f0f0;
  backface-visibility: hidden;
}

.card-back {
  background-color: #d0d0d0;
  transform: rotateY(180deg);
}

.flip {
  transform: rotateY(180deg);
  box-shadow: none;
}

.controls {
  height: 60px;
  width: fit-content;
  box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  margin: 10px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 24px;
}

.ctrl-btn { 
  margin: 5px;
  width: 100%;
  background-color: transparent;
  color: white; 
  border: none; 
  cursor: pointer; 
  border-radius: 25px;
  
}

.ctrl-btn:hover { 
  background-color: #007bff;
}

.toggled { 
  background-color: #007bff;
}

img {
  width: 80%; 
  height: 80%; 
  object-fit: contain;  
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-btn {
  height: 80px;
  width: 80px;
  font-size: 36px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.1);
}

.nav-btn:hover {
  background-color: #0056b3; /* Darker background color on hover */
}

input {
  border: none;
  margin: 0px;
  width: 100%;
  height: 70%;
  font-size: 24px;
  height: fit-content;
  background-color: transparent;
}

input:focus {
  outline: none;
}

textarea {
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 70%;
  max-height: 70%;
  font-size: 24px;
  resize: none;
  overflow: hidden;
}