<div class="wrapper">
  <button type="button" class="nav-btn" (click)="showPrevious()">
    <img src="./assets/left.png" />
  </button>

  <div class="card-wrapper">
    
    <div *ngIf="!editingCard && !addingCard" class="card" [class.flip]="!showFront" (click)="flipCard()">
      <div *ngIf="showFront" class="card-front">
        {{ frontText }}
      </div>
      <div *ngIf="!showFront" class="card-back">
        {{ backText }}
      </div>
    </div>
    
    <div *ngIf="addingCard" class="card" [class.flip]="!showFront" (click)="flipCard()">
      <div *ngIf="showFront" class="card-front">
        <textarea #frontTextArea (focusout)="this.frontText = frontTextArea.value" value="{{this.frontText}}" (click)="$event.stopPropagation()">
          {{frontTextArea.focus()}}
        </textarea>
        
      </div>
      <div *ngIf="!showFront" class="card-back">
        <textarea #backTextArea (focusout)="this.backText = backTextArea.value" value="{{this.backText}}" (click)="$event.stopPropagation()">
          {{backTextArea.focus()}}
        </textarea>
      </div>
    </div>
    
    <div *ngIf="editingCard" class="card" [class.flip]="!showFront" (click)="flipCard()">
      <div *ngIf="showFront" class="card-front">
        <textarea #frontTextArea  (focusout)="this.frontText = frontTextArea.value" value="{{frontText}}" (click)="$event.stopPropagation()">
          {{frontTextArea.focus()}}
        </textarea>
        
      </div>
      <div *ngIf="!showFront" class="card-back">
        <textarea #backTextArea  (focusout)="this.backText = backTextArea.value" value="{{backText}}" (click)="$event.stopPropagation()">
          {{backTextArea.focus()}}
        </textarea>
      </div>
    </div>

    <div class="controls">
      <button class="ctrl-btn" (click)="addCard(); this.frontText=''; this.backText=''"  [class.toggled]="addingCard">
        <img src="./assets/add.png" />
      </button>
      <button class="ctrl-btn" (click)="editCard()" [class.toggled]="editingCard">
        <img src="./assets/edit.png" />
      </button>
      <button class="ctrl-btn" (click)="deleteCard()">
        <img src="./assets/delete.png" />
      </button>
    </div>

  </div>

  <button type="button" class="nav-btn" (click)="showNext()">
    <img src="./assets/right.png" />
  </button>
</div>
