<div class="wrapper">
  <button type="button" class="nav-btn" (click)="showPrevious()"><</button>

  <div class="card-wrapper">
    <div class="card" (click)="flipCard()">
      {{ displayText() }}
    </div>
    <div class="controls" (click)="flipCard()">
      <button class="ctrl-btn" (click)="addCard('test', 'post')">
        <img src="./assets/add.png" />
      </button>
      <button class="ctrl-btn">
        <img src="./assets/hide.png" />
      </button>
      <button class="ctrl-btn">
        <img src="./assets/edit.png" />
      </button>
      <button class="ctrl-btn">
        <img src="./assets/delete.png" />
      </button>
    </div>
  </div>

  <button type="button" class="nav-btn" (click)="showNext()">></button>
</div>
